.section-wrapper {
	margin: 2rem auto;
	max-width: 90%;
	width: 100dvw;
}

.section-wrapper h2 {
	padding: 1.5rem 1rem;
}
.section-wrapper h2::after {
	content: "";
}

.product-wrapper {
    gap: 3rem 3rem;
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
}

@media (max-width: 900px) {
    .product-wrapper {
        grid-template-columns:  repeat(2, 1fr);
    	gap: 3rem 2rem;
    }


}
