.section-wrapper {
	margin: 2rem auto;
	max-width: 90%;
	width: 100dvw;
}

.section-wrapper h2 {
	padding: 2rem 1rem;
}
.section-wrapper h2::after {
	content: "";
}

.product-wrapper {
	display: flex;
	overflow: auto;
	flex: 1;
	flex-wrap: wrap;
	gap: 1rem;
}
