.card-wrapper {
	display: flex;
	flex-direction: column;

    flex-grow: 1;
    flex-shrink: 0;

    background-color: transparent;

	/* box-shadow: 0 4px 8px 0 rgb(68, 63, 63), 0 10px 20px 0 rgb(228, 228, 233); */
}

.card-info {
	display: flex;
	flex-direction: column;
    flex-grow: 1;
}

.item-info {
    display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 5% 0%;

}

.item-info p,
h2 {
	margin: 0 auto;
    font-size: var(--fs-1);
}

.card-wrapper img {
	max-width: 100%;
    max-height: 90%;
	margin: 0 auto;
	padding: 0.25rem 0rem;
}
